doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  script(type='text/javascript', src='/javascripts/jquery-2.1.0.min.js')
  script(type='text/javascript', src='/javascripts/bootstrap.min.js')
  script(type='text/javascript', src='/javascripts/docs.min.js')
  script(type='text/javascript', src='/javascripts/site.js')
